<nav class="bg-white  shadow ">
    <div class="max-w-7xl mx-auto px-8">
        <div class="flex items-center justify-between h-16">
            <div class=" flex items-center">
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/" class="text-gray-800 px-3 py-2 rounded-md text-2xl font-medium">
                            HacktivMart
                        </a>
                        <a href="/" class="text-gray-500 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium">
                            Home
                        </a>
                        <% if (user && user.role=='buyer' ) { %>
                            <a href="/cart"
                                class="text-gray-500 hover:text-gray-800 px-3 py-2 rounded-md text-sm font-medium">
                                Cart
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="ml-4 flex items-center md:ml-6">
                    <div class="ml-3 relative">
                        <div class="relative inline-block text-left">
                            <div>
                                <button type="button"
                                    class="  flex items-center justify-center w-full rounded-md  px-4 py-2 text-sm font-medium text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500">
                                    <% if(user) { %>
                                        <a href="/profile/:ProfileId"
                                            class="text-gray-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">
                                            Profile
                                        </a>
                                        <a href="/logout"
                                            class="text-red-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">
                                            Logout
                                        </a>
                                    <% } else { %>
                                        <a href="/login"
                                            class="text-gray-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">
                                            Login
                                        </a>
                                        <a href="/register"
                                            class="text-gray-500 hover:text-gray-800 block px-3 py-2 rounded-md text-base font-medium">
                                            Sign Up
                                        </a>
                                    <% } %>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>